body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #880e4f;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8bbd0;
    padding: 20px;
    font-size: 24px;
    color: white;
}

.funcion, .grafico, .entrada, .rango-x, .resultados, .tabla {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.latex-funcion {
    font-size: 24px;
    margin-top: 20px;
    color: #d6336c;
    font-weight: bold;
}

/* Diseño del formulario con dos columnas */
.form-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

/* Estilizar etiquetas, inputs y botones */
form label, form input {
    display: block;
    margin: 10px auto;
}

input {
    padding: 8px;
    border: 1px solid #d81b60;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

button {
    background-color: #d81b60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #ad1457;
}

/* Centrar el botón de enviar */
.form-submit {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d81b60;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f8bbd0;
}
